<div class="wrap">
  <div class="search" >
      <input type="text" name="plan" id="plan" class="searchTerm" [(ngModel)]="enteredSearchvalue" (input)="onsearchTextchanged()">
                <!-- <option value="none" selected disabled hidden>
                  Select an Option
              </option>
                <option value="free">Free</option>
                <option value="starter">Starter </option>
                <option value="professional">Professional</option>
                <option value="corporate">Corporate</option>
            </select> -->
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>
  </div>
  <p>*Note: Search a car by using available car brands shown above (In lowecase)*</p>
</div>
