<header class="header1">
  <a href="#" class="appname"><span>LETS</span>&nbsp;GO</a>
  <div class="container1">
    <ul class="navbar1">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="home">About Us</a></li>
      <li><a routerLink="/carsearch">Car Booking</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="login1">
      <a routerLink="/login">Login</a>
    </div>
    <div>
      <!-- <ion-icon name="menu-outline" class="menutoggle"></ion-icon> -->
    </div>
  </div>
</header>
