<div class="nav">
  <app-navbar></app-navbar>
</div>
<div class="container">
  <div class="wrapper">
    <div class="title">Welcome Back!!</div>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="box">
        <i class="fa fa-envelope"></i>
        <input type="email" placeholder="Enter your registered email" id="email" name="email" formControlName="email">
        <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required','email')">Please Enter Your email</small>
      </div>
      <div class="box">
        <i class="fas fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="Enter Password" formControlName="password">
          <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')">Please Enter Your Password</small>
      </div>
      <div class="password"><a href="#">Forgot password?</a></div>
      <button type="submit"[disabled]="!loginForm.valid">Login</button>
      <div class="signup">Don't have an account? <a routerLink="/signup">SignUp here</a></div>
    </form>
  </div>
</div>
