<div class="nav">
  <app-navbar></app-navbar>
</div>
<div class="container">
  <div class="wrapper">
    <div class="title">Signup To Continue</div>
    <form [formGroup]="signupform" (ngSubmit)="signup()">
      <div class="box">
        <i class="fa fa-user"></i>
        <input type="text" placeholder="Enter Username" id="email" name="email" formControlName="username" required>
        <small *ngIf="signupform.controls['username'].dirty && signupform.hasError('required','username')">Please enter username</small>
        <!-- <small *ngIf="signupform.controls['username'].invalid && signupform.controls['username'].touched"></small> -->
              <!-- <small *ngIf="signupform.controls['username'].errors?.['required']">Please Enter Username</small> -->
              <small *ngIf="signupform.controls['username'].errors?.['pattern']">Atleast 5-13 alphanumeric characters starts with alphabets  </small>
            </div>

      <div class="box">
        <i class="fa fa-envelope"></i>
        <input type="email" placeholder="Enter Your email" id="email" name="email" formControlName="email" required>
        <small *ngIf="signupform.controls['email'].dirty && signupform.hasError('required','email')">Please enter Email Id</small>
        <small *ngIf="signupform.controls['email'].errors?.['pattern']">Invalid Email Please check the email id  </small>

      </div>
      <div class="box">
        <i class="fa fa-phone"></i>
        <input type="text" placeholder="Enter Your mobile Number" id="phone" name="phone" formControlName="phone" required>
        <small *ngIf="signupform.controls['phone'].dirty && signupform.hasError('required','phone')">Please enter mobile number</small>
        <small *ngIf="signupform.controls['phone'].errors?.['pattern']">please Enter 10 digit mobile number</small>
      </div>
      <div class="box">
        <i class="fas fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="Create Password" formControlName="password"
          required>
          <small *ngIf="signupform.controls['password'].dirty && signupform.hasError('required','password')">Please enter password</small>
          <small *ngIf="signupform.controls['password'].errors?.['pattern']">Please enter strong password</small>
      </div>
      <div class="box">
        <i class="fas fa-lock"></i>
        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm your Password" formControlName="cpassword"
          required>
          <small *ngIf="signupform.controls['cpassword'].dirty && signupform.hasError('required','cpassword')">Please re-enter your password</small>
          <!-- <small *ngIf="signupform.controls['cpassword'].errors?.['match']">Please enter strong password</small> -->
      </div>
      <button type="submit" [disabled]="!signupform.valid">Register</button>
      <div class="signup">Already have an account? <a routerLink="/login">Login now</a></div>
    </form>
  </div>
</div>
