<div class="banner">
  <div class="heading">
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="https://www.autovista.in/assets/product_images/gallery/new-all-new-swift-right.jpg">
    </ng-template>
    <ng-template carouselSlide>
    <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/54399/swift-interior-dashboard.jpeg">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://i.pinimg.com/originals/e5/11/e8/e511e8871bd1f11b8982efbaf924a05a.jpg">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://imgctcf.aeplcdn.com/thumbs/p-nc-p-s600-ver4/images/cars/Maruti-Suzuki/Swift/2018Review/_MG_9125.jpg?q=75">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=https://cdni.autocarindia.com/Galleries/20180119093104_New-Maruti-Swift-boot.jpg&w=736&h=488&q=75&c=1">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://imgd.aeplcdn.com/0x0/n/cw/ec/54399/swift-exterior-right-rear-three-quarter.jpeg">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://imgd-ct.aeplcdn.com/1056x660/n/cw/ec/54399/swift-exterior-tail-light-tail-lamp.jpeg?q=75">
  </ng-template>
  <ng-template carouselSlide>
    <img src="https://www.marutisuzuki.com/swift-brochure/images/gk-ext-1.jpg">
  </ng-template>
</owl-carousel-o>
</div>
