<footer>
  <div class="lastcontainer">
    <div class="sec aboutus">
      <h2>LETS GO</h2>
      <p>Lets Go car rental services is a online car rental system offers you to
        reserve and rent a car online for a certain period of time.This car rental services
        is to automate vehicle rental and reservation so that you don't
        have to waste time calling and waiting for a vehicle. To convert the
        manual car rental procedure into a digital method.</p>
        <ul class="links">
          <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="sec quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="booking.html">Car Booking</a></li>
        <li><a href="#">Terms & conditions</a></li>
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">contact us</a></li>
      </ul>
    </div>
    <div class="sec contactus">
      <h2>Office Info</h2>
      <ul class="info">
        <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p>1/123 XYZ street,<br>XYZ city,<br>
          Salem-637504,<br>Tamilnadu</p>
        </li>
        <li>
          <span><i class="fa-solid fa-phone"></i></span>
          <p><a href="tel:12345678900">+91-9876543210</a><br><a href="tel:12345678900">+91-9876543210</a></p>
        </li>
        <li>
          <span><i class="fa-solid fa-envelope"></i></span>
          <p><a href="mailto:udrive@gmail.com">letsgrow@gmail.com</a></p>
        </li>
      </ul>
      </div>
      <div class="sec contactus">
        <h2>Contact Us</h2>
        <div class="message">
          <form action="#">
            <div class="email">
              <div class="text">Email*</div>
              <input type="email" placeholder="Enter Email address...."required style="width:250px;height:35px;margin-bottom: 10px;">
            </div>
            <div class="msg">
              <div class="text">Message*</div>
              <textarea rows="3" cols="25" required style="width:250px;margin-bottom: 10px;"placeholder="Type Message....."></textarea>
            </div>
            <div class="btn">
              <button type="submit" style="width:250px;height:38px;font-size: 20px;">Send</button>
            </div>
          </form>
        </div>
  </div>
