<app-navbar></app-navbar>
<br><br><br>
<app-slide></app-slide>
<div class="card-wrapper">
  <div class="card">
    <div class="container">
      <div class="img-container">
        <img src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=https://cdni.autocarindia.com/ExtraImages/20210726064827_Maruti_Dzire_red.jpg&w=700&q=90&c=1" id="preview">
        <div class="img-prev text-center">
        <div class="img-slide active">
          <img src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=https://cdni.autocarindia.com/ExtraImages/20210726064827_Maruti_Dzire_red.jpg&w=700&q=90&c=1" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://imgd-ct.aeplcdn.com/664x415/ec/34/01/17785/img/ol/Maruti-Suzuki-Swift-Dzire-Facelift-Interior-48155.jpg?v=201711021421&q=75" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://imgd-ct.aeplcdn.com/1056x660/n/cw/ec/54399/swift-exterior-orvm-blinker.jpeg?q=75" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://cdni.autocarindia.com/Utils/ImageResizer.ashx?n=http%3A%2F%2Fcdni.autocarindia.com%2FReviews%2F2020-Maruti-Dzire-dashboard.jpg&c=0" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://stimg.cardekho.com/images/carinteriorimages/930x620/Maruti/Dzire/7664/1584706082668/instrument-cluster-62.jpg?imwidth=890&impolicy=resize" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://stimg.cardekho.com/images/carinteriorimages/930x620/Maruti/Dzire/7664/1584706082668/gear-shifter-87.jpg?imwidth=890&impolicy=resize" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://stimg.cardekho.com/images/carinteriorimages/930x620/Maruti/Dzire/7664/1584706082668/upholstery-details-135.jpg?imwidth=890&impolicy=resize" appSlider>
        </div>
        <div class="img-slide">
          <img src="https://img.indianautosblog.com/crop/398x223/2017/05/2017-Maruti-Dzire-taillamp-First-Drive-Review.jpg" appSlider>
        </div>

      </div>
      </div>
    </div>
    <div class="car-content">
      <h2>Maruti Suzuki Dzire</h2>
      <h3><i class="fa fa-rupee"></i>5500 /day</h3>
      <div class="content">
          <div class="specifications">
          <h4>Key Specifications</h4>
      <p><i class="fa-solid fa-circle-check"></i>Milege -> 23.26 kmpl</p>
      <p><i class="fa-solid fa-circle-check"></i>Fuel-type -> Petrol/CNG</p>
      <p><i class="fa-solid fa-circle-check"></i>Seats -> 5 seats</p>
      <p><i class="fa-solid fa-circle-check"></i>Fuel Tank Capacity -> 37.0</p>
      <p><i class="fa-solid fa-circle-check"></i>No. of cylinder -> 4</p>
  </div>
  <div class="features">
      <h4>Key Features</h4>
      <p><i class="fa-solid fa-circle-check"></i>Driver Airbag</p>
      <p><i class="fa-solid fa-circle-check"></i>Passenger Airbag</p>
      <p><i class="fa-solid fa-circle-check"></i>Air Conditioner</p>
      <p><i class="fa-solid fa-circle-check"></i>Power Steering</p>
      <p><i class="fa-solid fa-circle-check"></i>Anti Lock Braking System</p>
  </div>
  </div>
  <div class="buttons">
  <a href="/booking"><button>Go Back</button></a>
  <a href="/bookform"><button class="button2">Book Now</button></a>
  </div>
  </div>
</div>
    </div>
<app-footerpart></app-footerpart>
<app-copyrights></app-copyrights>
